<!DOCTYPE html>
<html>
<head>
	<style>
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }
  </style>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
	 <script>
		 if (annyang) {
			 // Let's define a command.
			 var commands = {
					'log out': function() {
						location.replace('/logout');
					}
			 };
			 // This should be true
			 console.log(annyang.isListening())
			 localStorage.setItem('ActiveUser', '4');
			 console.log(localStorage.getItem('ActiveUser'));
			 // Add our commands to annyang
			 annyang.addCommands(commands);
			 // Start listening.
			 annyang.start();
		 }
		</script>
	</head>
	<body>
		<video id="myVideo" autoplay>
      <source src="http://localhost:3000/zone4" type="video/webm">
    </video>
	</body>
</html>