
<!DOCTYPE html>
<html>
<head>
	<style>
		#myVideo {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;
		}
	</style>
<title>Jarvis</title>
	<script>
		// const express = require('express');
		// const app = express();
		// function goback(arg) {
		// 	return res.redirect('back');
		// }
		app.get('invalidPassword', function(req, res) {
		  return res.redirect('back');
		});
		//setTimeout(goback, 5500);
	</script>
</head>
	<body>
		<video id="myVideo" autoplay>
			<source src="http://localhost:3000/wrongpassword" type="video/webm">
		</video>
	</body>
</html>