<!DOCTYPE html>
<html>
<head>
 <title>Jarvis</title>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
          'michael': function() { 
            location.replace('/michaelPassword')
          },
          'sonika': function() { 
            location.replace('/sonikaPassword')
          },
          'tony': function() { 
            location.replace('/tonyPassword')
          },
          'abdullah': function() { 
            location.replace('/abdullahPassword')
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
       // annyang.addCallback('soundstart', function() {
       //   console.log('sound detected');
       // });
       annyang.addCallback('resultNoMatch', function(phrases) {
        alert('Sorry, you are not a registered user'); 
      });
     }
    </script>
  </head>
  <body>
    <h1>Nice to see you again! Please say your user name.</h1>
  </body>
</html>