<!DOCTYPE html>
<html>
<head>
 <title>Jarvis</title>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
          'michael': function() { 
            alert('Good to see you again Michael!'); 
            location.replace('/michael')
          },
          'sonika': function() { 
            alert('Good to see you again Sonika!'); 
            location.replace('/sonika')
          },
          'tony': function() { 
            alert('Good to see you again Tony!'); 
            location.replace('/tony')
          },
          'abdullah': function() { 
            alert('Good to see you again Abdullah!'); 
            location.replace('/abdullah')
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
       annyang.addCallback('soundstart', function() {
         console.log('sound detected');
       });
     }
    </script>
  </head>
  <body>
    <h1>Nice to see you again! Please say your user name.</h1>
  </body>
</html>