<!DOCTYPE html>
<html>
<head>
 <title>Jarvis</title>
   <script>

   function logout(arg) {
	  location.replace('/');
	}

	setTimeout(logout, 3000);
    </script>
  </head>
  <body>
    <h1>Logout successful. See you next time!</h1>
  </body>
</html>