<!DOCTYPE html>
<html>
<head>
 <title>Jarvis</title>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
         'skateboard': function() { 
            alert('Congrats you have logged in!'); 
          }
          'log out': function() {
            location.replace('/logout');
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
       annyang.addCallback('resultNoMatch', function(phrases) {
        alert('Sorry, incorrect password'); 
      });
     }
    </script>
  </head>
  <body>
    <h1>Welcome Back! Please state your password, Michael Goodrum.</h1>
  </body>
</html>