<!DOCTYPE html>
<html>
<head>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
         'Yes': function() {
            location.replace('/placeOtherZone');
          }
          'No': function() { 
            location.replace('/michael');  //TODO: depending on current user, route to that user's page ex: location.replace('/michael');
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
       annyang.addCallback('soundstart', function() {
         console.log('sound detected');
       });
     }
    </script>
  </head>
  <body>
  </body>
</html>