<!DOCTYPE html>
<html>
<head>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
         'Yes': function() { 
            alert('Great! Item successfully placed in zone {zone_number}. I have updated {zone_owner} of the transaction.');
            //TODO: insert zone number
            //TODO: update zone owner of transaction
          }
          'No': function() { 
            alert('Ok, your zone is zone {number}');
            //TODO: insert zone number
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
       annyang.addCallback('soundstart', function() {
         console.log('sound detected');
       });
     }
    </script>
  </head>
  <body>
  </body>
</html>