<!DOCTYPE html>
<html>
<head>
 <title>Jarvis</title>
 <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.m8in.js"></script>
   <script>
     if (annyang) {
       // Let's define a command.
       var commands = {
          'log out': function() {
            location.replace('/logout');
          }
       };
       // This should be true
       console.log(annyang.isListening())
       // Add our commands to annyang
       annyang.addCommands(commands);
       // Start listening.
       annyang.start();
     }
    </script>
  </head>
  <body>
    <h1>Hi, Sonika Finch! Your zone is number 2!</h1>
  </body>
</html>